.searchable-form {
  // padding: 1rem 0;
  &.ant-form-inline {
    gap: 1rem;
    .ant-form-item {
      flex: 1 1 20%;
      margin: auto;
      @media only screen and (max-width: 768px) {
        flex: 1 1 auto;
      }
    }
  }

  .ant-input-number,
  .ant-picker {
    width: 100%;
  }
}
